*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-color: rgb(214, 135, 135)
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
h1{
    margin: 30px;
    font-size: 5rem;
    text-shadow: 5px 5px red;
    color: rgb(31, 31, 63)
}
p{
    font-size: 1.8rem;
    text-shadow: 2px 2px rgb(58, 34, 34);
    margin-bottom: 20px;
}
button{
    margin-top: 20px;
    padding: 7px;
    color:white;
    background-color: rgb(58, 34, 34);
    width: 20%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
img{
    width: 75%;
    border-radius: 20px;
}